<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Seris</th>
        </tr>
        <tr th:if="${cars.empty}">
            <td colspan="2"> No Cars Available</td>
        </tr>
        <tr th:each="car : ${cars}">
            <td><span th:text="${car.getModel()}">Model</span></td>
            <td><span th:text="${car.getColor()}">Color</span></td>
            <td><span th:text="${car.getSeries()}">Series</span></td>
        </tr>
    </table>
</div>
</body>
</html>